& {

$background = ALMOST_BLACK_COLOR
$header_background = DARK_COLOR
$color = TEXT_COLOR_ON_DARK
$header_color = TEXT_COLOR_ON_DARK_HIGHLIGHTED
$tooltip_color = ALMOST_BLACK_COLOR
$tooltip_background = LINK_COLOR_HOVER
$copied_color = LINK_COLOR_HOVER

@media MOBILE {
    FULLSCREEN()
}

@media DESKTOP {
    box-shadow 0px 0px 5px $background
}

.popup_form {
    ABSOLUTE(left:0, right: 0, top:0, bottom: 0)
    z-index 2

    .buttons {
        order 1
    }
    h1 {
        header_item()
        order 2
    }
    .window_content {
        padding 10px 25px
        order 3
    }
}

.detail_content {
    display flex
    flex-flow column nowrap
    background-color $background
    color $color
    ABSOLUTE(left:0, right: 0, top:0, bottom: 0)

    .buttons {
        order 1
    }
    .body_container {
        flex 1 1 auto;
        overflow auto
        order 2

        dd, dt {
            display: flex
            flex-flow: row nowrap
            padding 5px
            padding-left 20px

            .detail_item {
                flex: 1 1 auto
                min-width: 0
                overflow: hidden
            }
        }


        dt {
            color $header_color
            background-color $header_background
            align-items: center
        }

        dd {
            align-items: flex-start
            .detail_item {
                padding-top: 10px
            }
        }

        .copied {
            position absolute
            right 0
            top 0
            color: $copied_color

            font-size: ICON_FONT_SIZE
            background-color: $background // cover previous icon
        }

        .a_button {
            color LINK_COLOR_DISABLED
            flex 0 0 auto
            position: relative

            &[href] {
                color LINK_COLOR
            }
            .button_label {
                position: absolute;
                right: 100%
                top: 50%
                transform: translate(0, -50%)
                visibility hidden
                opacity 0

                transition opacity 0.8s
                margin-right: 15px
                background-color $tooltip_background
                color $tooltip_color
                padding 5px
                border-radius 4px
            }
            .button_icon {
                font-size ICON_FONT_SIZE
            }
        }
        @media DESKTOP {
            .a_button[href]:hover {
                color LINK_COLOR_HOVER

                .button_label {
                    visibility visible
                    opacity 1
                }
            }
        }
    }
}

}
