FONT_PATH='fonts/'
fa_stylus_path='../node_modules/fa-stylus/fa-stylus/icons/'

/**
 * FONT AWESOME
 */
//copied from fa-stylus and modified, mostly because we don't want ?v= suffix (doesn't work for local files),
//also, we are doing cache busting ourselves
@import fa_stylus_path + "variables"
@import fa_stylus_path + "mixins"

//@import "path"
@font-face
  font-family 'FontAwesome'
  src url(FONT_PATH + 'fontawesome-webfont.eot')
  src url(FONT_PATH + 'fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
      url(FONT_PATH + 'fontawesome-webfont.woff') format('woff'),
      url(FONT_PATH + 'fontawesome-webfont.woff2') format('woff2'),
      url(FONT_PATH + 'fontawesome-webfont.ttf') format('truetype'),
      url(FONT_PATH + 'fontawesome-webfont.svg#fontawesomeregular') format('svg')
  font-weight normal
  font-style normal

@import fa_stylus_path + "core"
//@import fa_stylus_path + "larger"
@import fa_stylus_path + "fixed-width"
//@import fa_stylus_path + "list"
//@import fa_stylus_path + "bordered-pulled"
@import fa_stylus_path + "spinning"
//@import fa_stylus_path + "rotated-flipped"
//@import fa_stylus_path + "stacked"

/**
 * Use icons as needed
 *
 * Examples:
 *   .{$fa-css-prefix}-glass
 *     fa-icon("glass")
 */
fa-icon($icon, $position="before")
  &:{$position}
    content $fa-icons[$icon]

/**
 * Enable all icons
 */
import-all-icons()
  for icon in $fa-icons
    .{$fa-css-prefix}-{icon}
      fa-icon(icon)



import-all-icons()

/**
 * ROBOTO FONT
 */
// copied from roboto-npm-webfont and modified - we don't want all fonts
@font-face
  font-family 'Roboto'
  src url(FONT_PATH + 'robotothin.woff2') format('woff2'),
      url(FONT_PATH + 'robotothin.woff') format('woff'),
      url(FONT_PATH + 'robotothin.ttf') format('truetype')
  font-weight 100
  font-style normal

@font-face
  font-family 'Roboto'
  src url(FONT_PATH + 'robotolight.woff2') format('woff2'),
      url(FONT_PATH + 'robotolight.woff') format('woff'),
      url(FONT_PATH + 'robotolight.ttf') format('truetype')
  font-weight 300
  font-style normal

@font-face
  font-family 'Roboto'
  src url(FONT_PATH + 'roboto.woff2') format('woff2'),
      url(FONT_PATH + 'roboto.woff') format('woff'),
      url(FONT_PATH + 'roboto.ttf') format('truetype')
  font-weight 400
  font-style normal

@font-face
  font-family 'Roboto'
  src url(FONT_PATH + 'robotomedium.woff2') format('woff2'),
      url(FONT_PATH + 'robotomedium.woff') format('woff'),
      url(FONT_PATH + 'robotomedium.ttf') format('truetype')
  font-weight 500
  font-style normal

@font-face
  font-family 'Roboto'
  src url(FONT_PATH + 'robotobold.woff2') format('woff2'),
      url(FONT_PATH + 'robotobold.woff') format('woff'),
      url(FONT_PATH + 'robotobold.ttf') format('truetype')
  font-weight 700
  font-style normal


@font-face
  font-family 'Roboto'
  src url(FONT_PATH + 'robotoblack.woff2') format('woff2'),
      url(FONT_PATH + 'robotoblack.woff') format('woff'),
      url(FONT_PATH + 'robotoblack.ttf') format('truetype')
  font-weight 900
  font-style normal
