& {
$input_ok_background        = #213220
$input_ok_background_focus  = #304024
$input_ok_border            = #6fe647
$input_ok_border_focus      = #72bb72
$input_background           = ALMOST_BLACK_COLOR
$input_background_focus     = DARK_COLOR
$input_border_focus         = #bb7e72
$input_border               = MAIN_COLOR
$header_color               = TEXT_COLOR_ON_DARK_HIGHLIGHTED
$text_color                 = TEXT_COLOR_ON_DARK
$header_background          = DARK_COLOR
$link_color                 = LINK_COLOR
$link_color_hover           = LINK_COLOR_HOVER
$link_color_disabled        = LINK_COLOR_DISABLED
$normal_background          = ALMOST_BLACK_COLOR

input_border() {
    border 2px solid $input_border
    background-color $input_background
    border-radius 4px
}

input_field() {
    display block
    color #ddd
    padding 10px
    input_border()

    &:focus {
        outline 0
        background-color $input_background_focus
        border-color $input_border_focus
    }
}


background-color $normal_background
display flex
flex-flow column

h1 {
    display: flex
    align-items: center
    color $header_color
    background-color $header_background
    font-size: 100%
    font-weight normal

    .header_text {
        flex 1
    }
    .header_icon {
        font-weight normal
        flex 0
        font-size ICON_FONT_SIZE
        // set margin to half of font height, so total height of icon is zero and it
        // does not make parent bigger
        margin: "%s 0" % (- ICON_FONT_SIZE / 2)
    }

    padding 15px
    padding-left 20px
}



.window_tabs {
    $border_color = $text_color
    $border_width = 1px

    display: flex
    background-color #393030
    border-bottom: $border_width solid $border_color
    padding 5px 10px 0 10px

    .a_button {
        flex: 1
        display: flex
        align-items: center
        justify-content: center
        padding: 10px
        margin-bottom: - $border_width
        border: $border_width solid transparent

        color $link_color

        &:not([href]) {
            background-color $normal_background
            border-color: $border_color
            border-bottom-color: transparent
            border-radius: 7px 7px 0 0
            color: white
        }
        &[href]:hover {
            color: $link_color_hover
        }
        .button_icon {
            margin-right: 5px
        }

        .button_label {
            text-align: center
        }
    }
}

.window_content {
    color $text_color
    overflow: auto
    position: relative

    .window_loading {
        ABSOLUTE(left: 0, top: 0, bottom: 0, right: 0)
        background-color: alpha($normal_background, 0.8)
        z-index: 50
        font-size: 500%
        display: flex
        justify-content: center
        align-items: center
    }

    > .a_button {
        color $link_color_disabled
        padding 10px 0
        display: flex
        align-items center

        .button_icon {
            flex 0 0
            font-size ICON_FONT_SIZE
            padding-right: 10px
        }

        .button_label {
            flex 1 1
            white-space: nowrap
            min-width: 0
            overflow: hidden
            text-overflow: ellipsis
        }

        &[href] {
            color $link_color
            .button_label {
                color: $header_color
            }
        }

        &.info_text {
            color $text_color
        }

        @media DESKTOP {
            &[href]:hover {
                .button_icon, .button_label {
                    color $link_color_hover
                }
            }
        }
    }

    > .password_field {
        display: flex
        flex-flow row wrap
        margin 15px 0
        align-items: center

        >input {
            flex 1
            input_field()
        }

        .bad_password {
        }

        .correct_password {
            border-color $input_ok_border
            background-color $input_ok_background
            &:focus {
                border-color $input_ok_border_focus
                background-color $input_ok_background_focus
            }
        }

        >.password_icon {
            flex 0
            font-size: ICON_FONT_SIZE
            margin-left: 15px
            background-color: MAIN_COLOR
            padding: 3px
            color: BUTTON_TEXT_COLOR
            border-radius 4px

            @media DESKTOP {
                &:hover {
                    background-color: MAIN_COLOR_HOVER
                    transition: background-color 0.5s
                }
            }
        }

        >.strength_meter {
            flex 1 0 90%
            overflow: hidden
            margin-top: 15px
            border 1px solid #999
            border-radius 4px
            font-size: 75%
            text-align: center
            padding: 4px 0
            white-space: nowrap
            color: #eee
        }
    }

    >input[type='text'] {
        input_field()
        width: 100%
        margin 15px 0
    }

    >textarea {
        input_field()
        height 40vh
        width: 100%
        margin 15px 0
    }

    p {
        &.centered {
            text-align: center
        }

        margin 20px 0
        font-weight: normal;
        a {
            color: $link_color
        }
        @media DESKTOP {
            a:hover {
                color: $link_color_hover
            }
        }
        > ul {
            padding: 20px 0
            display: flex
            flex-flow: row wrap
            justify-content: center

            > li {
                margin: 5px 15px
            }
        }
    }
}

}
